button {
    background: #007bff;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 90%;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px;
    width: 50%;
}

button:hover {
    background: #0056b3;
    transition: background 0.2s ease;
}

input {
  width: 90%;
  padding: 12px 16px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 12px;
  font-size: 1rem;
  transition: all 0.3s ease;
  box-sizing: border-box;
  font-size: 120%;
}
